<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="onClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-item-text">Home</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>add_circle_outline</mat-icon>
    <span class="nav-item-text">Sign Up</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>login</mat-icon>
    <span class="nav-item-text">Login</span>
  </a>
  <a mat-list-item routerLink="/training" (click)="onClose()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-item-text">Training</span>
  </a>
  <a mat-list-item routerLink="/" (click)="onClose()">
    <mat-icon>logout</mat-icon>
    <span class="nav-item-text">Logout</span>
  </a>
</mat-nav-list>
